{% extends 'blog/base.html' %}

{% block content %}

<div class="container post">
<div class="row"></div>
	<div class="row">
		<div class="col-md-8 post-detail">
			<img src="{{post.wallpaper.url }}" class="wallpaper img-responsive" width="100%">
			{% if post.published_date %}
				<div class="date">
					{{ post.published_date }}
				</div>
			{% else %}
				<div style="padding-top:20px;">
					<a class="btn btn-default" href="{% url 'blog.views.post_publish' pk=post.pk %}">انشر الموضوع</a>
					<a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
				</div>
			{% endif %}
			<h1>{{ post.title }}</h1>
			<div class="post-text"><p>{{ post.text|safe|linebreaksbr }}</p></div>
</br></br></br>

			<div class="comments">		
					<div class="col-md-12">
						<span class="fa fa-comments fa-2x"></span>
						<span>التعليقات</span>
					</div>
					<div class="clearfix"></div>
					<hr>
					<div class="clearfix"></div>
					{% for comment in post.comments.all %}
							
					<div class="comment-box">
						<div class="row">
							<div class="col-xs-3 col-sm-2 commenter-img">
								<span class="fa-stack fa-lg  fa-2x">
  								<i class="fa fa-circle fa-stack-2x"></i>
  								<i class="fa fa-user fa-stack-1x fa-inverse"></i>
								</span>						
							</div>
							<div class="col-xs-9 co-sm-10">
								<div class="row">
									<span>{{ comment.author }}</span> 
									<span>{{ comment.created_date }}</span>
								</div>
								<div class="row">
									{{ comment.text|linebreaks }}
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
						<hr>
						<div class="clearfix"></div>
					</div>
					{% endfor %}
			</div>
			<div class="clearfix"></div>
			<div class="add-comment">
				<div class="col-md-12">
					<span class="fa fa-comments fa-2x"></span>
					<span>اضف تعليقك</span>
				</div>
				<div class="clearfix"></div>
				
				<div class="comment-form">
				<form class="form-group" role="form" method="POST" action="{% url 'blog.views.add_comment_to_post' pk=post.pk %}">{% csrf_token %}
            <div class="">
                <input class="form-control" type="text" placeholder="اسم المستخدم" name="author" id="author"/>
            </div>
						</br>
            <div class="">
                <textarea class="form-control" rows="3" placeholder="اكتب تعليقك" name="text" id="text" /></textarea>
            </div>

            <div class="">
                <button class="btn btn-default form-control">اضف التعليق</button>
            </div>
        </form>
				</div>

			</div>

<!--			<div class="comment-box">
			<div class="row">
				<div class="col-md-12">
					<div class="col-xs-9">
						<span class="fa fa-user fa-4x"></span>
						 Jan. 27, 2016 
					</div>
					<div class="col-xs-3">
						<span class="fa-stack fa-lg  fa-2x">
  						<i class="fa fa-circle fa-stack-2x"></i>
  						<i class="fa fa-user fa-stack-1x fa-inverse"></i>
						</span>
          </div>	
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
"الفقير، الفاشل، التعيس و المريض… هذه هي أكثر الشخصيات التي تستخدم كلمة غداً ! لا تقلق من كونك وحيداً… فربما من بدأوا معك الرحلة لن يستطيعوا على مواكبة نجاحك و اللحاق بك." 
				</div>
			</div>
			</div>
		--
<div class="detailBox">
    <div class="titleBox">
      <label>التعليقات</label>
    </div>
    <div class="actionBox">
        <ul class="commentList">
						{% for comment in post.comments.all %}
            <li>
                <div class="commenterImage">
                  <img src="http://lorempixel.com/50/50/people/6" />
                </div>
								<div class="commenterImage">
                  <p>{{ comment.author }}</p>
                </div>
                <div class="commentText">
                    <p class="">{{ comment.text|linebreaks }}</p> <span class="date sub-text">{{ comment.created_date }}</span>

                </div>
            </li>
{% endfor %}
        </ul>
        <form class="form-inline" role="form" method="POST" action="{% url 'blog.views.add_comment_to_post' pk=post.pk %}">{% csrf_token %}
            <div class="form-group">
                <input class="form-control" type="text" placeholder="" name="author" id="author"/>
            </div>
						</br>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Your comments" name="text" id="text" />
            </div>

            <div class="form-group">
                <button class="btn btn-default">Add</button>
            </div>
        </form>
    </div>
</div>-->

		</div><!-- end col-md-8 -->
	</div><!-- end row -->
</div><!-- end container post -->
{% endblock %}

